/* Responsive */
@media(max-width:1024px){

    /* Header */
    
    .headContainer{
        padding: 30px 20px;
    }
    
    /* Home  */
    .homeContainer{
        padding: 30px 20px;
    }
    .homeLeft{
        padding: 0px 0px;
    }
    .homeRight {
        padding: 0px;
        height: 360px;   
    }



    /* about */
    .aboutPage{
        padding: 30px 0px;
    }
    .card{
        width: 400px;
    }


    /* contact */

    .contactPage{
        gap: 3rem;
    }

    
    /* project */

    .projectGrid{
        grid-template-columns: repeat(2,1fr);
        padding: 2.5rem 2.5rem;
    }
    .projectBottom{
        grid-column: span 1;
        flex-direction: column;
        width: 90%;
        height: auto;
    }
    .projectImgb{
        height: 250px;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .projectbR {
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
}

@media(max-width:768px){
    .burgerBtn{
        display: block;
        position: relative;
    }
    .navLists{
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgb(254, 254, 254);
        width: 89%;
        height: acto;
        padding: 10px 25px ;
        border-radius: 12px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        
    }
    .navList{
        margin-bottom: 1rem;

        
    }
    .navList a{
        color:rgb(31, 128, 132);
    }
    .navLists.active{
        display: block;

        
    }
    .homePage{
        flex-direction: column;
        align-items: center;
    }
    .homeLeft{
        width: 100%;
        margin-bottom: 3rem;
    }
    .homeRight{
        height: 450px;
    }



    /* aboutpage */

    .aboutSecond{
        grid-template-columns: repeat(1,1fr);
        margin-left: 5%;
    }
    .card{
        width: 88%;
    }
    .aboutpara{
        width: 100%;
    }



    /* contact */

    .contactPage{
        flex-direction: column;
        align-items: center;
    }
    .contactDetails{
        margin-top: 0;
        width: 70%;
    }
    .contactForm{
        width: 70%;
    }



    /* project  */
    .projectGrid{
        grid-template-columns: 1fr;
    }
    .project{
        width: 400px;
    }
    .projectBottom{
        width: 400px;
    }
    
}

@media(max-width:480px){
    .project{
        width: 100%;
    }
    .projectBottom{

        width: 100%;
    }
}

@media(max-width:426px){
    .headContainer{
        padding: 20px 15px;
    }
    .projectBtn{
        padding: 3px 10px;
    }
    .navLists{
        width: 80.4%;
        left: 17px;
        top: 16px;
    }

    /* home */
    .hName{
        font-size: 2.6rem;
    }

    .homeRight{
        max-width: 320px ;
        height: 355px ;
       
    }
    .shortIntro{
        font-size: 1.1rem;
        width: 100%;
    }
    .downSocial{
        gap: 1rem;
    }
    .resume{
        font-size: 14px;
    }


    /* about page */
    .aboutName{
        font-size: 2.6rem;
    }
    .card{
        /* width: 355px; */
        padding: 18px 15px;
    }
    .aboutpa{
        font-size: 1.1rem;
        width: 95%;
        text-align: center;
    }
    .aboutcardContet h3{
        font-size: 1rem;
    }
    .aboutpara{
        font-size: 0.9rem;
        margin-top: 0.6rem;
    }
    .contactForm{
        
        padding: 2rem 2rem;
    }
    .contactDetails{
        height: 18rem;
    }
    

    /* project */

    
}
    @media(max-width:400px){
        
         
    }

    @media(max-width:380px){
       
    }

    @media(max-width:376px){
       
        .aboutpara{
        font-size: 0.8rem;
    }
    
    
    }

    @media(max-width:361px){
        
        .homeRight{
            width: 300px;
            height: 350px;
        }
    }

    @media(max-width:320px ){
        .homeRight{
            width: 260px;
            height: 280px;
        }
        .navLists{
            width: 75%;
        }
        .card{
           
            padding: 25px 5px;
        }
        .contactDetails h1{
            font-size: 1.4rem;
        }
        .contactinfo p{
            font-size: 0.8rem;
        }
    }
