*{
    margin: 0;
    padding: 0;
}
.container{
    font-family:Arial, Helvetica, sans-serif;
}
/* Header */

.logo{
    color: rgb(66, 144, 246);
}
.port{
    color: rgb(252, 68, 141);
}
.headContainer{
    padding: 35px 70px;
    background-color: rgb(248, 251, 251);
    position: sticky;
    top: 0;
    z-index: 100;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLists{
    display: flex;
    list-style: none;
    gap: 3rem;
}
.navLlist{
    font-size: 1.1rem;
}
.navLlist:hover{
    color: rgb(219, 38, 161);
}
.burgerBtn{
    font-size: 1.2rem;
    display: none;
}
.projectBtn{
    border: 1px solid;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: rgb(252, 68, 141);
    color: white;
}
.headBtns{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Home page */
.homeContainer{
    padding: 55px 70px;
    margin-bottom: 3rem;
}
.homePage{
    display: flex;
    
}
.homeLeft{
    padding: 80px 40px;
    width: 800px;
}
.homeRight{
    width: 450px;
    height: 455px;
}
.homeRight img{
    border-radius: 20% 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    object-fit: cover;
}
.hName{
    font-size: 3.5rem;
    color: rgb(49, 35, 208);
}
.myName{
    color: rgb(222, 84, 151);
}
.shortIntro{
    margin-top: 2rem;
    font-size: 1.2rem;
    width: 70%;
    line-height: 1.5;
    color: rgb(72 22 22);
}
.downSocial{
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    align-items: center;
}
.resume{
    padding: 10px 20px;
    border-radius: 22px;
    background-color:orangered;
    text-decoration: none;
    color: white;
}
.resume:hover{
    background-color: rgb(250, 98, 98);
}
.socialLinks{
    display: flex;
    gap: 0.7rem;
    font-size: 2.3rem;
    color: rgb(66, 144, 246);
}
.linkedIn:hover{
    color: rgb(14, 14, 207);
}
.gitHub:hover{
    color: black;
}




/* About page */
.AboutContainer{
background-color: #f6f6f6;
padding-top: 2rem;
}
.aboutPage{
    padding: 35px 70px;
}
.aboutFirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.aboutName{
    color: rgb(255, 0, 85);
    font-size: 2.2rem;
    text-align: center;
}
.aboutpa{
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.4;
   text-indent: 30px;
}
.aboutSecond{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   row-gap: 2.5rem;
   margin-top: 3rem;
   margin-left: 14%;
}
.card{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.imgdiv{
    width: 80px;
    height: 80px;
}
.imgd{
    width: 129px;
    height: 80px;
}
.imgdiv img{
    object-fit: cover;
}

.aboutpara{
    margin-top: 1rem;
    width: 80%;
}




/* Skills page */
.SkillsContainer{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.skillSet{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillRound{
    margin-top: 2rem;
    background-color:rgb(241, 240, 240) ;
    height: 7rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .5s;
    overflow: hidden;
}
.skillRound:hover  {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.skillRound:hover .skillDiv{
    transform: scale(1.1);
}
.skillDiv{
   width: 3.5rem;
   height: 3.5rem;
   transition: .5s;
}
.skillName{
    font-weight: bold;
}
.multiple{
    display: flex;
    gap: 3rem;
}



/* project */

.ProjectContainer{
    padding-top: 2rem;
    background-color: #f6f6f6;
}








/* Responsive */
@media(max-width:1024px){

    /* Header */
    
    .headContainer{
        padding: 30px 20px;
    }
    
    /* Home  */
    .homeContainer{
        padding: 30px 20px;
    }
    .homeLeft{
        padding: 0px 0px;
    }
    .homeRight {
        height: 400px;   
    }
}

@media(max-width:768px){
    .burgerBtn{
        display: block;
        position: relative;
    }
    .navLists{
        display: none;
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: rgb(254, 254, 254);
        width: 89%;
        height: 50%;
        padding: 10px 25px ;
        border-radius: 12px;
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
        color:rgb(31, 128, 132);
    }
    .navLlist{
        margin-bottom: 1rem;
    }
    
    .navLists.active{
        display: block;
    }
    .homePage{
        flex-direction: column;
        align-items: center;
    }
    .homeLeft{
        width: 100%;
        margin-bottom: 3rem;
    }
    .homeRight{
        height: 450px;
    }
}

@media(max-width:480px){
    .headContainer{
        padding: 20px 15px;
    }
    .projectBtn{
        padding: 3px 10px;
    }
    .navLists{
        width: 82%;
        left: 17px;
        top: 16px;
    }

    /* home */
    .hName{
        font-size: 2.6rem;
    }

    .homeRight{
        max-width: 320px ;
        height: 355px ;
       
    }
    .shortIntro{
        font-size: 1.1rem;
        width: 100%;
    }
    .downSocial{
        gap: 1rem;
    }
    .resume{
        font-size: 14px;
    }
}

    @media(max-width:320px ){
        .homeRight{
            width: 260px;
            height: 280px;
        }
        .navLists{
            width: 75%;
        }
    }
